<form method="post" action="{{ path('app_tarea_delete', {'id': tarea.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres borrar esta tarea?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarea.id) }}">
    <div class="p-2 g-col-6">
    <button class="btn btn-danger">Eliminar</button>
    </div>
    
</form>
