{% extends 'base.html.twig' %}

{% block title %}New Tarea{% endblock %}

{% block body %}
    <h1>Crear Nueva Tarea</h1>

    {{ include('tarea/_form.html.twig') }}

    <div class="p-2 g-col-6">
    <a class="btn btn-outline-success" href="{{ path('app_tarea_index') }}" role="button">Volver a la lista</a>
    </div>
{% endblock %}
